name: Deploy git pages
on:
  workflow_dispatch:
  push:
     branches: ["main"]

jobs:
  build:
    name: push reposity
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        
      - name: Deploy
        uses: LeoBelluci/provaDevOps-action@v4
        with:
          branch: releases/v4
          folder: .
          clean: false
          single-commit: true
