name: Deploy git pages

on:
  push:
    branches: ["main"]   
   
jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure Pages git pages
        uses: actions/configure-pages@v5

      - name: Deploy para o git
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./

      - name: Deploy para o git pages
        uses: actions/deploy-pages@v4
